<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never">
    <title>抖音短视频解析下载 - 抖音视频去水印保存到本地</title>
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='1.css') }}">
    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/clipboard.js/2.0.0/clipboard.js"></script>
    <script type="text/javascript">
    function switchTo() {
        // var url = document.getElementById('url');
        var url = $("#url").val();
        console.log('newUrl')
        console.log(url)
        // window.location.href=url;
        window.open('https://aweme.snssdk.com/aweme/v1/play/?video_id=2f21e6374b61421eb5aa843222782857');
    }
        function dowloadVideo() {
        // var url = document.getElementById('url');
        var url = $("#url").val();
        console.log('newUrl')
        console.log(url)
        // window.location.href=url;
        window.open('https://aweme.snssdk.com/aweme/v1/play/?video_id=2f21e6374b61421eb5aa843222782857');
    }
    </script>
    <script type="text/javascript">
    function jiexi() {
        var url = document.getElementById('baseUrl');
        console.log(url.value)
        mydata = { "baseUrl": url.value };
        // mydata = {"msg": "Hello Flask."};
        $.getJSON('/getRealUrl', { mykey: JSON.stringify(mydata) }, function(data) {
            // console.log(data.result.realUrl)
            var newUrl = data.result.realUrl
            var cover = data.result.coverUrl
            var title = data.result.title
            // alert(data.result.realUrl)
            $("#url").val(data.result.realUrl);
            $("#result").val(title);

            $("#“downloadVideo”").attr("href", newUrl);
            $("#“downloadVideo”").attr("download", "name");
            $("#“downloadCover”").attr("href", cover);
        });
    }
    </script>
    <style type="text/css">
    a {
        margin: 10px auto
    }
    </style>
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img src="/static/douyin.png" alt="douyin" width="42" height="42">
                <span class="navbar-brand">抖音短视频解析下载</span>
            </div>
        </div>
    </div>
    <div class="container" id="app" style="margin-top: 70px;">
        <div class="row">
            <div class="col-md-12">
                <div style="margin-bottom: 20px;">
                    <p>抖音短视频解析下载工具特点:</p>
                    <ol>
                        <li>支持解析任何抖音视频</li>
                        <li>解析出来的视频没有水印</li>
                    </ol>
                    <p>使用方法:</p>
                    <ol>
                        <li>打开抖音短视频APP，点开某个视频，点击右下角分享按钮，在分享弹框中点击复制链接或通过分享到微信QQ等获取分享链接</li>
                        <li>将刚才复制的链接粘贴到下面的输入框</li>
                    </ol>
                </div>
                <div class="input-group input-group-lg" style="margin-bottom: 10px;">
                    <input name="baseUrl" id="baseUrl" type="text" class="form-control link-input" placeholder="请将APP里复制的视频链接粘贴到这里">
                    <div class="input-group-btn">
                        <button class="btn btn-default" id="jiexi" onclick="jiexi()">解析视频</button>
                    </div>
                </div>
                <div class="input-group input-group-lg" style="margin-bottom: 10px;">
                    <input name="realUrl" id="baseUrl" type="text" class="form-control link-input" placeholder="请将APP里复制的视频链接粘贴到这里">
                    <div class="input-group-btn">
                        <button class="btn btn-default" id="downloadV" onclick="dowloadVideo()">下载视频</button>
                    </div>
                </div>
                <!-- <input name="result" id="result" type="text" class="form-control link-input" placeholder="等待中..."> -->
                <!--       <a href="" id=“downloadVideo” target="_blank" download="video" class="btn btn-default">下载视频</a>
      <a href="" id=“downloadCover” target="_blank" download="cover" class="btn btn-default">下载封面</a> -->
            </div>
        </div>
    </div>
</body>

</html>