<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never">
    <title>抖音短视频(Tik Tok)解析下载 - 抖音视频去水印保存到本地</title>
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='1.css') }}">
    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/clipboard.js/2.0.0/clipboard.js"></script>
    <script type="text/javascript">
    function jiexi() {
        var url = document.getElementById('baseUrl');
        console.log(url.value)
        mydata = { "baseUrl": url.value };
        // mydata = {"msg": "Hello Flask."};
        $.getJSON('/getRealUrl', { mykey: JSON.stringify(mydata) }, function(data) {
            // console.log(data.result.realUrl)
            var newUrl = data.result.realUrl
            var cover = data.result.coverUrl
            var title = data.result.title
            $("#url").val(data.result.realUrl);
            $("#title").val(title);
            $("#coverinputUrl").val(cover);
            $("#realUrl").attr("href", newUrl);
            $("#coverUrl").attr("href", cover);
        });
    }
    </script>
    <style type="text/css">
    a {
        margin: 10px auto
    }
    </style>
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img src="/static/douyin.png" alt="douyin" width="42" height="42">
                <span class="navbar-brand">抖音短视频(Tik Tok)解析下载</span>
            </div>
        </div>
    </div>
    <div class="container" id="app" style="margin-top: 70px;">
        <div class="row">
            <div class="col-md-12">
                <div style="margin-bottom: 20px;">
                <p>新增抖音海外版Tik Tok解析 部分视频下载可能需要搭梯子！</p>
                    <p>抖音短视频解析下载工具特点:</p>
                    <ol>
                        <li>支持解析任何抖音视频</li>
                        <li>解析出来的视频没有水印</li>
                    </ol>
                    <p>使用方法:</p>
                    <ol>
                        <li>打开抖音短视频APP，点开某个视频，点击右下角分享按钮，在分享弹框中点击复制链接或通过分享到微信QQ等获取分享链接</li>
                        <li>将刚才复制的链接粘贴到下面的输入框</li>
                    </ol>
                </div>
                <div class="input-group input-group-lg" style="margin-bottom: 10px;">
                    <input name="baseUrl" id="baseUrl" type="text" class="form-control link-input" placeholder="请将APP里复制的视频链接粘贴到这里">
                    <div class="input-group-btn">
                        <button class="btn btn-default" id="jiexi" onclick="jiexi()">解析视频</button>
                    </div>
                </div>
                <div class="input-group input-group-lg" style="margin-bottom: 10px;">
                    <input name="realUrl" id="title" type="text" class="form-control link-input" placeholder="视频标题将出现在这里">
                    <div class="input-group-btn">
                        <a href="" id='realUrl' download="" target="_blank">
                            <!-- <button class="btn btn-default" id="downloadV" onclick="dowloadVideo()">下载视频</button> -->
                            <button class="btn btn-default" id="downloadV" style="margin-left: 10px;">下载视频</button>
                        </a>
                    </div>
                </div>
                <div class="input-group input-group-lg" style="margin-bottom: 10px;">
                    <input name="CoverUrl" id="coverinputUrl" type="text" class="form-control link-input" placeholder="封面地址将出现在这里">
                    <div class="input-group-btn">
                        <a href="" id='coverUrl' download="" target="_blank">
                            <button class="btn btn-default" id="downloadV" style="margin-left: 10px;">下载封面</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center; margin-top: 20px;">
    <p style="margin-bottom: 5px;">自媒体交流、技术支持QQ群: 471410943</p>
    <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=19f91bfddce12b7895a6c0784f06c7adc0b5bf393e174a9d07de9c6b562db501"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="软件反馈群" title="软件反馈群"></a>
    </div>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1273521096'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1273521096%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>

</body>

</html>